* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Shrikhand';
    font-size: 40pt;
    color: white;
}

p {
    font-family: 'League Gothic';
    color: white;
}

#body_competence,
#body_desProjets,
#body_projet, #body_contact {
    background-color: #8c52ff;
}

#body_desProjets {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main_galery h1 {
    text-align: center;
    margin-top: 4%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #434343;
    opacity: 0.70;
}

#main_galery p {
    padding: 3%;
    text-align: center;
    font-size: 15pt;

    background-color: #434343;
    border-radius: 15px;
    opacity: 0.70;
}

/*Debut accueil*/


#fond {
    background-image: url(img/paysages-forestiers_71767-127.png);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*----------------------------------------------------*/
header nav {
    display: flex;
    text-decoration: none;
    background-color: #434343;
    opacity: 0.70;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    margin-left: 65%;
}

header ul {
    display: flex;
    margin-right: 12%;

}

header li {
    list-style: none;
    padding-left: 11%;
    padding-top: 2%;
    font-size: 15pt;

}

header a {
    text-decoration: none;
    color: white;

}

header .actuelle {
    color: #FFF552;
}

header a:hover {
    color: #8c52ff;
}

/*----------------------------------------------------*/

#main_aside_accueil {
    display: flex;
}

#main_accueil {
    width: 60%;
}

#aside_accueil {
    width: 40%;
}


#main_accueil img {
    width: 25%;
    margin-left: 35%;
    margin-top: 23%;
    background-color: #434343;
}

/*----------------------------------------------------*/

#aside_accueil {
    display: flex;
    margin-top: 15%;
    margin-right: 10%;
    text-align: center;
    color: white;
}


#aside_accueil h1 {
    background-color: #434343;
    opacity: 0.75;
}

#aside_accueil p {
    background-color: #434343;
    opacity: 0.75;
}

/*----------------------------------------------------*/
footer {
    display: block;
    background-color: black;
    color: white;
    margin-top: auto;
}

footer ul {
    display: block;

}

footer li {
    padding: 1%;
    padding-left: 12%;
    display: inline-block;
    vertical-align: middle;

}

footer p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer a {
    text-decoration: none;
}

/*Fin accueil*/

/*----------------------------------------------------*/

/*Debut compétence*/

#main_competence h1,
h3 {
    color: white;

}

#main_competence h1 {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #434343;
    opacity: 0.70;

}

#main_competence h3 {
    text-align: center;
    font-size: 20pt;
    margin-bottom: 2%;
}

#main_competence p {
    text-align: center;
    color: white;
    padding-right: 3%;
    font-size: 18pt;
}

#Languages_h3 {
    background-color: #434343;
    opacity: 0.70;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 36%;
    margin-right: 36%;
}

#Bureautique_h3 {
    background-color: #434343;
    opacity: 0.70;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 43%;
    margin-right: 43%;
}

#Système_h3 {
    background-color: #434343;
    opacity: 0.70;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 38%;
    margin-right: 38%;
}

svg {
    width: 150px;
    height: 150px;
}

.p75 svg circle {
    fill: none;
    stroke: #412678;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
    stroke-linecap: round;
    animation-name: pp75;
}

.p75 svg circle:nth-child(1) {
    stroke: #cecece;
    stroke-dashoffset: 0;
    animation-name: pp75;
}

.p75 svg circle:nth-child(2) {
    animation: circle 2s forwards;
    animation-name: pp75;
}

.p70 svg circle {
    fill: none;
    stroke: #412678;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
    stroke-linecap: round;
    animation-name: pp70;
}

.p70 svg circle:nth-child(1) {
    stroke: #cecece;
    stroke-dashoffset: 0;
    animation-name: pp70;
}

.p70 svg circle:nth-child(2) {
    animation: circle 2s forwards;
    animation-name: pp70;
}

.p50 svg circle {
    fill: none;
    stroke: #412678;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
    stroke-linecap: round;
    animation-name: pp50;
}

.p50 svg circle:nth-child(1) {
    stroke: #cecece;
    stroke-dashoffset: 0;
    animation-name: pp50;
}

.p50 svg circle:nth-child(2) {
    animation: circle 2s forwards;
    animation-name: pp50;
}

.p0 svg circle {
    fill: none;
    stroke: #412678;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
    stroke-linecap: round;
    animation-name: pp0;
}

.p0 svg circle:nth-child(1) {
    stroke: #cecece;
    stroke-dashoffset: 0;
    animation-name: pp0;
}

.p0 svg circle:nth-child(2) {
    animation: circle 2s forwards;
    animation-name: pp0;
}

.p90 svg circle {
    fill: none;
    stroke: #412678;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
    stroke-linecap: round;
    animation-name: pp90;
}

.p90 svg circle:nth-child(1) {
    stroke: #cecece;
    stroke-dashoffset: 0;
    animation-name: pp90;
}

.p90 svg circle:nth-child(2) {
    animation: circle 2s forwards;
    animation-name: pp90;
}

.p85 svg circle {
    fill: none;
    stroke: #412678;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
    stroke-linecap: round;
    animation-name: pp85;
}

.p85 svg circle:nth-child(1) {
    stroke: #cecece;
    stroke-dashoffset: 0;
    animation-name: pp85;
}

.p85 svg circle:nth-child(2) {
    animation: circle 2s forwards;
    animation-name: pp85;
}


@keyframes pp75 {
    to {
        stroke-dashoffset: 78.75;
    }
}

@keyframes pp70 {
    to {
        stroke-dashoffset: 95.75;
    }
}

@keyframes pp50 {
    to {
        stroke-dashoffset: 157.5;
    }
}

@keyframes pp0 {
    to {
        stroke-dashoffset: 315;
    }
}

@keyframes pp90 {
    to {
        stroke-dashoffset: 31.5;
    }
}

@keyframes pp85 {
    to {
        stroke-dashoffset: 47.25;
    }
}

#Languages,
#Bureautique,
#Système {
    display: flex;
    justify-content: center;
}

#Languages .premier {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
    font-weight: 400;
    color: #412678;
}

#Languages .deuxieme {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
    font-weight: 400;
    color: #412678;
}

#Languages .troisieme {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
    font-weight: 400;
    color: #412678;
}

#Languages .quatrieme {
    position: absolute;
    top: 50%;
    left: 55.2%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
    font-weight: 400;
    color: #412678;
}

#Languages .cinquieme {
    position: absolute;
    top: 50%;
    left: 65.3%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
    font-weight: 400;
    color: #412678;
}

#Languages .sixieme {
    position: absolute;
    top: 50%;
    left: 75.4%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
    font-weight: 400;
    color: #412678;
}


#Bureautique .premier {
    position: absolute;
    top: 90.5%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
    font-weight: 400;
    color: #412678;
}

#Bureautique .deuxieme {
    position: absolute;
    top: 90.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
    font-weight: 400;
    color: #412678;
}

#Bureautique .troisieme {
    position: absolute;
    top: 90.5%;
    left: 60.2%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
    font-weight: 400;
    color: #412678;
}

#Système .premier {
    position: absolute;
    top: 131%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
    font-weight: 400;
    color: #412678;
}

#Système .deuxieme {
    position: absolute;
    top: 131%;
    left: 55.2%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
    font-weight: 400;
    color: #412678;
}

/*----------------------------------------------------*/

#footer_competence {
    display: block;
    background-color: black;
    color: white;
    margin-top: 2%;
}

/*Fin compétence*/

/*----------------------------------------------------*/

/*Debut Projet*/
#body_projet {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.gallery {
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.gallery div {
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 2%;
    flex: none;
}

.gallery div span {
    border: solid 2px #434343;
    background-color: #434343;
    border-radius: 10%;
}

.gallery p {
    text-align: center;
    padding-top: 30%;
    font-size: 15pt;
    padding-bottom: 5%;
}

.gallery img {
    width: 80%;
    margin-left: 11%;
    margin-top: 5%;
    margin-bottom: -20%;
    filter: grayscale(100%);
    transition: transform 0.5s;
    border-radius: 10%;

}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-fleche {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4% auto;
}

#backBtn,
#nextBtn {
    width: 50%;
    cursor: pointer;
    margin: 40px;
}

#backBtn {
    padding-left: 30%;
}

.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

#main_projet h1 {
    text-align: center;
    margin-top: 4%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #434343;
    opacity: 0.70;
}

.img-vitrine {
    width: 170px;
    height: 150px;
}

#Lien_Github{
    display: flex;
    justify-content: center;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: -2%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    border:solid 2px #434343;
    transition: 1s;
    font-size: 15pt;
}

#Lien_Github:hover{
    background-color: #434343;
}

/*Fin Projet*/

/*----------------------------------------------------*/

/*Debut Galery d'art*/

.image_galery {
    display: flex;
    animation-duration: 40s;
    animation-name: mesImages;
    animation-iteration-count: infinite;
}

.image_galery img {
    width: 100%;
}

#slideshow_text_projet {
    display: flex;
}

#slideshow_galery {
    width: 300px;
    overflow: hidden;
    margin-left: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 10%;
    border: solid 2px #434343;

}

.text_galery {
    width: 30%;
    margin-top: 14%;

}


@keyframes mesImages {

    /*nbr image 6 donc en divise 100 par 6 = 16,66666666666667*/
    0% {
        transform: translateX(0);
    }

    16.66666666666667% {
        transform: translateX(-300px);
    }

    33.33333333333334% {
        transform: translateX(-600px);
    }

    50% {
        transform: translateX(-900px);
    }

    66.6666666667% {
        transform: translateX(-1200px);
    }

    83.3333333334% {
        transform: translateX(-1500px);
    }

    100% {
        transform: translateX(0);
    }
}


/*Fin Galery d'art*/

/*----------------------------------------------------*/

/*Debut Quiz*/


.image_quiz {
    display: flex;
    animation-duration: 40s;
    animation-name: mesImagesQuiz;
    animation-iteration-count: infinite;
}

.image_quiz img {
    width: 100%;
}

#slideshow_text_projet_quiz {
    display: flex;
    margin-top: 2%;
}

#slideshow_quiz {
    width: 300px;
    overflow: hidden;
    margin-left: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 10%;
    border: solid 2px #434343;
    background-color: white;
}

.text_quiz {
    width: 30%;
    margin-top: 2%;
}


@keyframes mesImagesQuiz {

    /*nbr image 2 donc en divise 100 par 2 = 50*/
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-300px);
    }


    100% {
        transform: translateX(0);
    }
}


/*Fin Quiz*/

/*----------------------------------------------------*/

/*Debut PremierSite*/

.image_Psite {
    display: flex;
    animation-duration: 20s;
    animation-name: mesImagesPsite;
    animation-iteration-count: infinite;
}

.image_Psite img {
    width: 100%;
}

#slideshow_text_projet_Psite {
    display: flex;
    margin-top: 2%;
}

#slideshow_Psite {
    width: 400px;
    overflow: hidden;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 10%;
    border: solid 2px #434343;
    background-color: white;
}

.text_Psite {
    width: 30%;
    margin-top: 5%;
}


@keyframes mesImagesPsite {

    /*nbr image 2 donc en divise 100 par 2 = 50*/
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-400px);
    }


    100% {
        transform: translateX(0);
    }
}

/*Fin PremierSite*/

/*----------------------------------------------------*/

/*Debut Nonogramme*/

.image_Nono {
    display: flex;
    animation-duration: 20s;
    animation-name: mesImagesNono;
    animation-iteration-count: infinite;
}

.image_Nono img {
    width: 100%;
}

#slideshow_text_projet_Nono {
    display: flex;
    margin-top: 2%;
}

#slideshow_Nono {
    width: 400px;
    overflow: hidden;
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 4%;
    margin-right: 10%;
    border: solid 2px #434343;
    background-color: white;
}

.text_Nono {
    width: 30%;
    margin-top: 5%;
}


@keyframes mesImagesNono {

    /*nbr image 4 donc en divise 100 par 4 = 25*/
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-400px);
    }

    50% {
        transform: translateX(-800px);
    }

    100% {
        transform: translateX(0);
    }
}


/*Fin Nonogramme*/

/*----------------------------------------------------*/

/*Debut livre*/

.image_livre {
    display: flex;
    animation-duration: 20s;
    animation-name: mesImageslivre;
    animation-iteration-count: infinite;
}

.image_livre img {
    width: 100%;
}

#slideshow_text_projet_livre {
    display: flex;
    margin-top: 2%;
}

#slideshow_livre {
    width: 400px;
    overflow: hidden;
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 4%;
    margin-right: 10%;
    border: solid 2px #434343;
    background-color: white;
}

.text_livre{
    width: 30%;
    margin-top: 5%;
}

#main_galery #Livre {
        text-align: center;
        margin-top: 4%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: #434343;
        opacity: 0.70;
}

/*Fin livre*/

/*----------------------------------------------------*/

/*Debut Contact*/

#main_contact h1 {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #434343;
    opacity: 0.70;

}


/*Fin Contact*/

/*----------------------------------------------------*/